test/fixtures/definitions/loop.json
{
  "StartAt": "IncrementOrEnd",
  "States": {
    "IncrementOrEnd": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.i",
          "NumericEquals": 3,
          "Next": "Done"
        }
      ],
      "Default": "Increment"
    },
    "Increment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:123456789012:function:Increment",
      "InputPath": "$.i",
      "ResultPath": "$.i",
      "Next": "IncrementOrEnd"
    },
    "Done": {
      "Type": "Succeed"
    }
  }
}
