test/fixtures/definitions/many-states.json
{
  "StartAt": "Pass0",
  "States": {
    "Pass0": {
      "Input": "a",
      "ResultPath": "$.p0",
      "Type": "Pass",
      "Next": "Pass1"
    },
    "Pass1": {
      "Input": "b",
      "ResultPath": "$.p1",
      "Type": "Pass",
      "Next": "Pass2"
    },
    "Pass2": {
      "Input": "c",
      "ResultPath": "$.p2",
      "Type": "Pass",
      "Next": "Pass3"
    },
    "Pass3": {
      "Input": "d",
      "ResultPath": "$.p3",
      "Type": "Pass",
      "Next": "Done"
    },
    "Done": {
      "Type": "Succeed"
    }
  }
}
